body{
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.6;
    background-color: rgb(0, 0, 0);
}

header{
    background-color: #1e2288; /*rgb() permite expresar el color en css*/
    color: white;
    padding: 20px; /* padding aplicado */
    text-align: center; /*centra directamente el contenido*/
    border-bottom: 4px solid #e8e8e8; /* borde aplicado */
    margin-bottom: 20px; /* margen aplicado */
}

.container{
    background-color: rgb(11, 165, 231);
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    padding: 20px;
}

.Mosaico {
    margin-top: 20px;
    overflow: hidden; 
}

.Card{
    background-color: #d6c6c6;
    width: 33.33%; 
    float: left;
    padding: 15px;
}

.Card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    display: block;
    border: 3px solid #333;
}

.card-body {
    padding: 10px;
    background-color: #814848;
    border: 1px solid #ccc;
    text-align: center;
}