
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #000;
    line-height: 1.6;
}

header {
    background-color: #2c1e88;
    color: white;
    padding: 20px;
    text-align: center;
    border-bottom: 4px solid #e8e8e8;
    margin-bottom: 20px;
}

header h1 {
    font-size: 3rem;
}

.container {
    width: 85%;
    margin: 0 auto;
    background-color: rgb(11, 165, 231);
    padding: 20px;
    text-align: center;
}

.mosaico {
    margin-top: 30px;
    overflow: hidden; 
}

.card {
    width: 33.33%;     
    float: left;       
   padding: 15px;   
}

.card img {
    width: 100%;
    height: auto;          
    border: 4px solid #000;
}

.card:nth-child(n+4) {
    margin-top: 20px;
}