/* Box-sizing global */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html{
    font-family: Arial, sans-serif;
    font-size: 24px;
}


/* Header */


/* Footer */

