:root {
    --color-header: #e00000fb;
    --color-menu: #333;
    --color-hover: #4CAF50;
    --color-fondo: #f4f4f4;
    --color-texto: #000;
    --color-blanco: #ffffff;
}

body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: var(--color-fondo);
    color: var(--color-texto);
}

header {
    background-color: var(--color-header);
    color: var(--color-blanco);
    padding: 20px;
    text-align: center;
    border-bottom: 4px solid var(--color-menu);
}
.contenedor-principal {
    display: flex;
    min-height: 100vh;
}

.menu {
    width: 220px;
    background-color: var(--color-menu);
    display: flex;
    flex-direction: column;
}

.menu a {
    color: var(--color-blanco);
    padding: 15px;
    text-decoration: none;
    border-bottom: 1px solid #555;
}

.menu a:hover {
    background-color: var(--color-hover);
}

.contenido {
    flex: 1;
    padding: 0;
    display: flex;
    flex-direction: column;
}

.Mosaico{
    flex: 1;
    width: 100%;
    height: 100%;
    border: none;
}

footer {
    background-color: #4CAF50;
    color: white;
    text-align: center;
    padding: 15px;
    border-top: 4px solid #333;
    margin-top: 20px;
}

.contenido h2 {
    margin-bottom: 20px;
}

.contenido p {
    margin-bottom: 10px;
    font-size: 1.1rem;
}


/*Especificidad del elemento*/
/*
  0        0      0                 0
inline     id     clase,atributo    elemento, pseudoelemnto
                  pseudoclase  
*/

/*Se usa root porque es una pseudoclase  entonces tiene prioridad sobro elementos y pseudoelementos
<html> es un elemento*/
/*
:root{
    --primario: blue;
}

a {
    font-size: 1.2rem;
    color: var(--primario);
}

.link{
    font-size: 1.5rem !important;
}
*/